.container{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}
.user-message {
    align-self: flex-end;
    background-color: rgba(0, 81, 255, 0.879);
    color: white;
    padding: 8px 12px;
    border-radius: 10px;
    margin: 5px;
    max-width: 80%;
    word-wrap: break-word;
}

.bot-message {
    align-self: flex-start;
    background-color: #e5e5e5;
    color: black;
    padding: 8px 12px;
    border-radius: 10px;
    margin: 5px;
    max-width: 80%;
    word-wrap: break-word;
}
.chatbox{
    border: 2px solid rgb(165, 164, 164);
    height: 300px;
    width: 500px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    margin-bottom:15px;
    overflow-y: scroll;
    scrollbar-width:none;
    display: flex;
    flex-direction: column;
}
.prompt{
    padding:10px;
    width: 420px;
    overflow:scroll;
    scrollbar-width:none;
    border-radius:5px;
    border:1px solid #ccc;
}
.submit-btn{
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgba(0, 81, 255, 0.879);
    color: white;
    cursor: pointer;
    font-size: large; 
}